.headerH {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    height: 73px;
    margin-bottom: 25px;
    background-color: #F9F9F9;
}

img {
    width: 120px;
    padding: 8px;
}

.titulo {
    color: #0179C6;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 17px;
    margin-right: 25px;
}